@using Microsoft.AspNetCore.Identity;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Save__plan_your_trips</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html {
            font-size: 62.5%;
        }

        body {
            font-size: 1.6rem;
             font-family: "Rubik", sans-serif;
             line-height: 1.5;
          font-weight: 400;
              color-scheme: light dark;
         color: rgba(255, 255, 255, 0.87);
           background-color: #242424;
        }

        button {
            border-radius: 8px;
            border: 1px solid transparent;
            padding: 0.6em 1.2em;
            font-size: 1em;
            font-weight: 500;
            font-family: inherit;
            background-color: #15aabf;
            color: #242424;
            cursor: pointer;
            transition: all 0.3s
        }

            button:hover {
                background-color: #22b8cf;
            }

            button:focus,
            button:focus-visible {
                outline: 4px auto -webkit-focus-ring-color;
            }

        .nav ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 2.4rem;
            background-color: #22b8cf;
        }

        .mainPages {
            display: flex;
            gap: 1.6rem;
        }

        .nav a {
            font-weight: 600;
            text-decoration: none;
            color: #242424;
            transition: all 0.3s;
        }
 .nav a:hover {
            color: #096072;
        }

        .authPages {
            display: flex;
            gap: 1.6rem;
        }

        .userName {
            color: #333;
        }
    </style>
</head>

@inject SignInManager<IdentityUser> signInManager

<body>
    <header>
        <nav class="nav">
            <ul>
                <div class="mainPages">
                    @if (signInManager.IsSignedIn(User))
                    {
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Logo</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Trips" asp-action="YourAlbums">Trips</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Scheduled" asp-action="ScheduledTrips">Scheduled</a>
                    </li>
                    }
                    else
                    {
                    <li>
                        <a asp-area="" asp-controller="Preview" asp-action="StarterPage">Logo</a>
                    </li>
                    }
                </div>
                <div class="authPages">
                    @if (signInManager.IsSignedIn(User))
                    {

                        <div class="userName">@User.Identity.Name</div>
                    <li> <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>

                    }
                    else
                    {
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Login">Sign In</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="SignUp">Sign Up</a>
                    </li>
                    }
                </div>
            </ul>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
