<style>

    body {
        overflow: hidden;
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 60rem;
        margin: 0 auto;
        color: #e3fafc;
        background-color: #333;
        padding: 2.4rem;
        border-radius: 6px;
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 1.5rem;
        margin: 0.5rem 0 2.2rem 0;
        display: inline-block;
        border: none;
        background: #e3fafc;
        color: #333;
    }

        input[type=text]:focus, input[type=password]:focus {
            outline: none;
        }

    hr {
        border: 1px solid #e3fafc;
        margin-bottom: 2.5rem;
    }

    .registerbtn {
        background-color: #15aabf;
        padding: 1.6rem 2rem;
        margin: 0.8rem 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

        .registerbtn:hover {
            background-color: #22b8cf;
        }

    a {
        color: dodgerblue;
    }

    .signin {
        margin-top: 0.6rem;
        text-align: center;
    }

    .nav {
        display: none;
    }

    .textDanger {
        color: #e03131;
        font-size: 1.4rem;
        margin-bottom:2.2rem;
        display:block;
        margin-top:-2.2rem;
    }

    .block {
        display: block;
    }

    @@media screen and (max-width: 630px) {
        html{
            font-size: 40%;
        }
    }
</style>

@model Save__plan_your_trips.Models.ViewModels.SignInRequest

<form method="post">
    <div class="container">
        <p>Please fill in this form to log in.</p>
        <hr>

        <label for="nickname" class="block"><strong>Nickname</strong></label>
        <input type="text" placeholder="Enter Nickname" id="nickname" asp-for="Nickname" required>
        <span class="textDanger" asp-validation-for="Nickname"></span>

        <label for="password" class="block"><strong>Password</strong></label>
        <input type="password" placeholder="Enter Password" id="password" asp-for="Password" required minlength="6">
        <span class="textDanger" asp-validation-for="Password"></span>

        @if (!ViewData.ModelState.IsValid)
        {
        <div class="textDanger">
            @foreach (var error in ViewData.ModelState.Root.Errors)
            {
            <p>@error.ErrorMessage</p>
            }
        </div>
        }
        
        <hr>

        <button type="submit" class="registerbtn">Log in</button>
        <div class="signin">
            <p>Have no account? <a asp-area="" asp-controller="Account" asp-action="SignUp" a>Sign up</a>.</p>
        </div>
    </div>
</form>