@{
    ViewData["Title"] = "Home Page";
}
<style>
    .homepage {
        background-image: linear-gradient( rgba(36, 42, 46, 0.7), rgba(36, 42, 46, 0.7) ), url("https://th.bing.com/th/id/R.ff248f0499987180ef7f89a72b8708e5?rik=7zGYwp0xNHcl%2fA&pid=ImgRaw&r=0");
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        gap: 4rem;
    }

    .button {
        text-decoration: none;
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #15aabf;
        color: #242424;
        cursor: pointer;
        transition: all 0.3s
    }

        .button:hover {
            background-color: #22b8cf;
        }

    body {
        overflow: hidden;
    }

    .photo {
        width: 32rem;
        height: 20rem;
        background-color: #333333;
        border-radius: 6px;
        box-shadow:  0 5px 15px 10px rgba(0,0,0, 0.1);
    }

    .photos {
        width: 115rem;
        display: flex;
        justify-content: space-between;
        padding: 0 2.4rem;
    }

    h2 {
    text-align: center;
        margin-top:5rem;
        letter-spacing: 2.2px;
        font-size: 3.2rem;
        padding: 2rem;
        text-shadow: 2px 2px 4px #222;
    }

    .anotherTrip {
        background-color: #333;
        width: 60rem;
        height: 20rem;
        border-radius:6px;
        box-shadow:  0 5px 15px 10px rgba(0,0,0, 0.1);
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

@model IEnumerable<Save__plan_your_trips.Models.Domain.Album?>

<div class="homepage">
    <div>

        <h2>Your last trip</h2>
        <div class="photos">

            @foreach (var album in Model)
            {
                if (album?.Images != null)
                {
                    foreach (var image in album.Images)
                    {
                        <img src="@image.Url" alt="іmage" class="photo"/>
                    }
                }
                else
                {
                    <p>Start from adding first album!</p>
                }
            }
        </div>
    </div>
    <div>
        <h2>Maybe try this one</h2>
        <div class="anotherTrip">

            <img alt="image" id="image"src=""/>
            <div class="details">
                <span> Rating:</span>
                <span> Country:</span>
                <span> City:</span>
            </div>
        </div>
    </div>
</div>