@{
    ViewData["Title"] = "Home Page";
}
<style>
    .homepage {
        background-image: linear-gradient( rgba(36, 42, 46, 0.7), rgba(36, 42, 46, 0.7) ), url("https://th.bing.com/th/id/R.ff248f0499987180ef7f89a72b8708e5?rik=7zGYwp0xNHcl%2fA&pid=ImgRaw&r=0");
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
    }

    .button {
        text-decoration: none;
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #15aabf;
        color: #242424;
        cursor: pointer;
        transition: all 0.3s
    }

        .button:hover {
            background-color: #22b8cf;
        }

    body {
        overflow: hidden;
    }

    .photo {
        width: 32rem;
        height: 20rem;
        background-color: #333333;
        border-radius: 6px;
    }

    .photos {
        width: 110rem;
        display: flex;
        justify-content: space-between;

    }

    h2 {
        margin-top:6rem;
        letter-spacing: 2.5px;
        font-size: 3.2rem;
        padding: 2rem;
    }

    .anotherTrip {
        background-color: #333;
        width: 60rem;
        height: 20rem;
        border-radius:6px;
    }
</style>

@using Save__plan_your_trips.Models.Domain
@model IEnumerable<Album?>

<div class="homepage">
    <h2>Your last trip</h2>
    <div class="photos">
        @foreach (var album in Model)
        {
            foreach (var image in album.Images)
            {
                <img src="@image.Url" alt="іmage" class="photo"/>
            }
        }
    </div>
    <h2>Maybe try this one</h2>
    <div class="anotherTrip"> </div>
</div>