@using Microsoft.AspNetCore.Mvc.ModelBinding
<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form {
        font-size: 1.8rem;
        margin-top: 10%;
        padding: 2.4rem 3.6rem;
        background-color: #333333;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        border-radius: 6px;
    }

        .form label {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.4rem;
        }

        .form input {
            padding: 0.8rem;
            border: 2px solid #242424;
            height: 3rem;
            width: 100%;
            border-radius: 6px;
        }

            .form input:focus {
                outline: none;
            }

    .buttons {
        display: flex;
        gap: 1.2rem;
    }

    .submit {
        border: 2px solid #242424;
        margin: 0 auto;
        background-color: #242424;
        font-size: 1.6rem;
        cursor: pointer;
        transition: all 0.2s;
        color: inherit;
        width: 14rem;
    }

        .submit:hover {
            background-color: #333333;
        }

    .cancel {
        color: inherit;
        text-decoration: none;
        font-weight: bold;
        border: 2px solid #242424;
        font-size: 1.6rem;
        cursor: pointer;
        transition: all 0.2s;
        background-color: #333333;
        width: 14rem;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


        .cancel:hover {
            background-color: #242424;
        }

    .uploadPhotoNew {
        width: 12rem;
        height: 6rem;
        background-color: #242424;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .uploadPhoto {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
</style>

@model Save__plan_your_trips.Models.ViewModels.AddAlbumRequest

<div class="container">
    <form class="form" method="post" enctype="multipart/form-data">
        <label>
            <span>Place where you have been</span>
            <input type="text" required="true" id="name" asp-for="Name"/>
        </label>
        <label>
            <span>Download some photos</span>
            <span class="uploadPhotoNew">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="44"
                     height="44"
                     fill="currentColor"
                     className="bi bi-plus-circle"
                     viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                </svg>
            </span>
            <input type="file" class="uploadPhoto" id="image" asp-for="Image" />
        </label>
        <div class="buttons">
            <a class="cancel" asp-area="" asp-controller="Trips" asp-action="YourAlbums">
                Cancel
            </a>
            <button type="submit" class="submit">
                Add album
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        const UploadElement = document.getElementById('image'); 

        async function uploadImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    featuredImageUrlElement.value = result.link;
                });
        }
       UploadElement.addEventListener('change', uploadImage);

    </script>
}