@using Microsoft.AspNetCore.Mvc.ModelBinding
@using System.Net
@using Save__plan_your_trips.Models.Domain

<style>
 
 body{
 height: 95vh;
 overflow: hidden;
 }
 
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        position: relative;
    }

    .form {
        margin-top: 7%;
        font-size: 1.8rem;
        padding: 2.4rem 3.6rem;
        background-color: #333333;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        border-radius: 6px;
    }

        .form label {
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            gap: 0.6rem;
        }

        .form input {
            padding: 0.8rem;
            border: 2px solid #242424;
            height: 3rem;
            width: 100%;
            border-radius: 6px;
        }

            .form input:focus {
                outline: none;
            }

    .buttons {
        margin-top:2rem;
        display: flex;
        gap: 1.2rem;
    }

    .submit {
        border: 2px solid #242424;
        margin: 0 auto;
        background-color: #242424;
        font-size: 1.6rem;
        cursor: pointer;
        transition: all 0.2s;
        color: inherit;
        width: 14rem;
    }

        .submit:hover {
            background-color: #333333;
        }

    .cancel {
        color: inherit;
        text-decoration: none;
        font-weight: bold;
        border: 2px solid #242424;
        font-size: 1.6rem;
        cursor: pointer;
        transition: all 0.2s;
        background-color: #333333;
        width: 14rem;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


        .cancel:hover {
            background-color: #242424;
        }
        
        .delete{
         border-radius: 6px;
         height: 4rem;
         text-decoration: none;
         background-color: #d90f0f;
         font-size: 1.6rem;
         cursor: pointer;
         transition: all 0.2s;
         color: inherit;
         width: 100%;
         }
        
        .delete:hover{
        background-color: #e03131;
        }

    .textDanger {
        color: #e03131;
        font-size: 1.4rem;
        margin-bottom: 2.2rem;
        display: block;
    }

    input[type="file"] {
        display: none;
    }

    .uploadPhoto {
        border: 2px solid #242424;
        display: inline-block;
        border-radius: 6px;
        padding: 6px 12px;
        cursor: pointer;
        width:100%;
        text-align:center;
    }
    
    span{
        text-align:center;
    }
    
    #imageNames{
    padding: 0.8rem;
    border: 2px solid #242424;
    height: 6rem;
    width: 100%;
    border-radius: 6px;
    resize: none;
    }
</style>

@model Save__plan_your_trips.Models.ViewModels.EditAlbumRequest

<div class="container">
    <form class="form" method="post" enctype="multipart/form-data">
           <button type="submit" class="delete" asp-action="DeleteAlbum" asp-controller="Trips">Delete album</button>
        <label style="display: none;">
            <input type="hidden" id="id" asp-for="Id" readonly/>
        </label>
        <label>
            <span>Place where you have been:</span>
            <input type="text" id="name" asp-for="Name" required/>
        </label>

        <label >
            <span>Photos of your trip:</span>
            <div class="uploadPhoto">
                <span>Download more photos</span>
                <input type="file" id="image" asp-for="Images" multiple/>
            </div>
        </label>
        <label>
            <textarea id="imageNames" type="text" asp-for="ImageUrls" readonly> </textarea>
        </label>
        <div class="buttons">
            <a class="cancel" asp-controller="Trips" asp-action="YourAlbums">
                Cancel
            </a>
            <button type="submit" class="submit">
                Edit
            </button>
        </div>
    </form>
</div>

@section Scripts{

    <script>
    
      const image = document.getElementById('image');
           const imageNames = document.getElementById("imageNames");
           
           async function uploadImage(e) {
               let uploadPromises = Array.from(e.target.files).map(file => {
                   console.log(file);
           
                   let data = new FormData();
                   data.append('file', file);
           
                   return fetch('/api/images', {
                       method: 'POST',
                       headers: {
                           'Accept': '*/*',
                       },
                       body: data
                   }).then(response => response.json());
               });
           
               let results = await Promise.all(uploadPromises);
           
               for (let result of results) {
                   imageNames.value +="\n\n" + result.link;
               }
           }
           
           image.addEventListener('change', uploadImage);
</script>
}