<style>
    body {
        overflow: hidden;
    }

    .tripsPage {
        display: flex;
        overflow: hidden;
    }

    .albumContainer {
        width: 100%;
    }

    .newAlbum {
        position: absolute;
        background-color: darkgray;
        width: 7rem;
        height: 7rem;
        color: #242424;
        right: 3rem;
        bottom: 3rem;
        border-radius: 50%;
        transition: all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newAlbum:hover {
        background-color: #e3fafc;
    }

    .plus {
        display: flex;
        align-content: center;
        justify-items: center;
    }

    .tripsList {
        padding: 0.8rem;
        display: flex;
        list-style: none;
        flex-direction: column;
        gap: 0.8rem;
        max-height: 93vh;
    }

    .place {
        width: 20rem;
        height: 5rem;
        background-color: darkgray;
        color: #242424;
        padding: 1.2rem;
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 600;
        border-radius: 6px;
        transition: all 0.2s;
        justify-content: space-between;
        line-height: 1.1;
    }

    .place:hover {
        background-color: #e3fafc;
    }

    .active {
        background-color: #e3fafc;
    }

    .header {
        background-color: #333333;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        font-weight: bold;
        font-size: 1.8rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        margin: 0.8rem;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
    }

    .image {
        width: 22rem;
        height: 15rem;
        background-color: #333333;
        border-radius: 6px;
        cursor: pointer;
        border: 2px #242424 solid;
        transition: all 0.2s;
    }

    .image:hover {
        border: 2px #e3fafc solid;
    }

    .image-container {
        position: relative;
    }

    .deleteImage {
        border: 2px solid #242424;
        background-color: #333;
        border-radius: 50%;
        padding: 0.6rem;
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        cursor: pointer;
        z-index: 5;
    }

    .trash {
        width: 1.8rem;
        height: 1.8rem;
    }

    .noTrips {
        padding: 1.2rem;
        text-align: center;
        width: 22.5rem;
    }

    .edit {
        width: 1.8rem;
        cursor: pointer;
        color: #333;
        display: flex;
        align-items: center;
    }

    .selectedImage {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 85vh;
        z-index: 10;
        cursor: default;
        border: none;
    }

    .selectedImage:hover {
        border: none;
    }

    .back {
        color: inherit;
        border: 2px solid #242424;
        transition: all 0.2s;
        background-color: #333333;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 8%;
        left: 10%;
        z-index: 11;
    }

    .back:hover {
        border: 2px solid #333;
        background-color: #242424;
    }

    .back:focus {
        outline: none;
    }

    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: none;
        z-index: 8;
    }
</style>

@model IEnumerable<Save__plan_your_trips.Models.Domain.Album?>

<section class="tripsPage">
    <ul class="tripsList ">
        @if (Model.Any())
        {
            foreach (var item in Model.Reverse())
            {
                <li class="place" data-album-id="@item?.Id">
                    @item?.Name
                    <a asp-controller="Trips" asp-action="EditAlbum" asp-route-id="@item?.Id" class="edit">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="edit" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd"
                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                    </a>
                </li>
            }
        }
        else
        {
            <p class="noTrips">No trips yet</p>
        }
    </ul>
    <a class="newAlbum" asp-controller="Trips" asp-action="AddAlbum">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="28"
             height="28"
             fill="currentColor"
             class="plus"
             viewBox="0 0 16 16">
            <path fillRule="evenodd"
                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
        </svg>
    </a>
    <div class="albumContainer">
        <section class="container">
            <header class="header">
                @if (Model.Any())
                {
                    <p>You in <span class="currentAlbum"></span></p>
                }
                else
                {
                    <p>Start from adding your first album!</p>
                }
            </header>

            <div class="gallery">
                @foreach (var album in Model)
                {
                    foreach (var image in album.Images)
                    {
                        <img src="@image.Url" alt="image" class="image" data-album-id="@album.Id"/>
                        <span class="deleteImage">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                <path
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                            </svg>
                        </span>
                    }
                }
            </div>
            <button class="back"> &larr;</button>
        </section>
    </div>
    <div id="overlay"></div>
</section>

@section Scripts
{
    <script>

    document.addEventListener("DOMContentLoaded", function () {
        const overlay = document.getElementById("overlay")
        const places = document.querySelectorAll(".place")
        const images = document.querySelectorAll(".image")
        const currentAlbum = document.querySelector(".currentAlbum")
        const back = document.querySelector(".back")
        const imageContainer = document.querySelector("imageContainer")

        places.forEach(place => {
            place.addEventListener("click", function () {
                const albumId = this.dataset.albumId;

                places.forEach((p) => {
                    p.classList.remove("active");
                });

                this.classList.add("active")

                images.forEach(image => {
                    if (image.dataset.albumId === albumId) {
                        image.style.display = "block";
                    } else {
                        image.style.display = "none";
                    }
                });
                currentAlbum.textContent = place.textContent;
            });
        });

        if (places.length > 0)
            places[0].click();


        images.forEach(image => {
            image.addEventListener("click", function (e) {
                image.classList.add("selectedImage");
                back.style.display = "flex"
                overlay.style.display = 'block';
            })
        })

        /* images.forEach(image => {
             const deleteImage = image.querySelector('.deleteImage');
         
             image.addEventListener("mouseover", function (){
                 deleteImage.style.display="flex";
             });
         
             image.addEventListener("mouseout", function (){
                 deleteImage.style.display="none";
             });
         });*/


        addEventListener("keydown", function (e) {
            if (e.key === "Escape") {
                images.forEach(image => image.classList.remove("selectedImage"))
                back.style.display = "none"
                overlay.style.display = 'none';
            }
        })

        overlay.addEventListener("click", function (e) {
            images.forEach(image => {
                if (!image.contains(e.target)) {
                    image.classList.remove("selectedImage");
                    back.style.display = "none";
                    overlay.style.display = 'none';
                }
            });
        });

        back.addEventListener('click', function () {
            images.forEach(image => {
                image.classList.remove('selectedImage');
                back.style.display = "none";
                overlay.style.display = 'none';
            });
        });
    });
</script>
}